.Login {
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}

.Login-header {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}