body{
    background-color: #fcfcfc
}

.bannerOne{
    margin-top: 1%;
    background-color: rgba(219, 216, 216, 0.719);
    height:35vh;
    display: -webkit-flex; /* Safari */
    display: flex;
    background-image: url("../../static/banner.jpg");
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    background-position: center;
}

.secBanner{
    display: flex;
    margin-bottom:-2%;
}

.companyLocation{
    position: relative;
    top:-10%;
}

.companyHeader{
    position: relative;
    left:10%;
    top:10%;
    width:20%;
}

.row1,.row2{
    display: -webkit-flex; /* Safari */
    display: flex;   
}

.ant-layout-content{
    background-color: white;
}


