body{
    background-color: #fcfcfc
}

.bannerOne{
    margin-top: 1%;
    background-color: rgba(219, 216, 216, 0.719);
    height:35vh;
    background-image: url("../../static/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secBanner{
    display: flex;
    margin-bottom:-2%;
}

.companyLocation{
    position: relative;
    top:-10%;
}

.companyHeader{
    position: relative;
    left:10%;
    top:10%;
    width:20%;
}

.row1,.row2{
    display: -webkit-flex; /* Safari */
    display: flex;   
}

.ant-layout-content{
    background-color: white;
}
.busEditButton, .busEditButton:focus{
    margin-left:37%;
    margin-bottom:10%;
    background-color:#1BB28b;
    color:white
}

.busEditButton:hover{
    background-color:#F0BF5F;
    color:black
}



