.banner{
    margin-top: 1%;
    background-color: rgba(219, 216, 216, 0.719);
    height:35vh;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.companyName{
    font-size: 5em;
    
    left:10%
}

.companyLocation{
   
    left:10%
}

.companyPicture{
   
}
.companyHeader{
    position: relative;
    left:30px;
    width:20%
}
