.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: #1BB28B;
    border-radius:8px;
}
.ant-menu-dark.ant-menu-horizontal{
    margin-top:-5px;
    height:3.4em;
    font-size: 1.3em;
    font-weight: 500
}

.home{
    margin-left:3%
}
