.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin:"0 0 10% 0%";
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 10%;
    width: 90%;
    height: 90%;
}