.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}


.userButton, .userButton:focus{
  background-color:#1BB28b;
  color: white
  
}

.userButton:hover{
  background-color:#F0BF5F;
  color: black
}


